@font-face 
	font-family: 'Montserrat'
	src: url('../fonts/montserratlight.woff2') format('woff2'), url('../fonts/montserratlight.woff') format('woff'), url('../fonts/montserratlight.ttf') format('truetype')
	font-weight: 300
	font-style: normal

@font-face 
	font-family: 'Montserrat'
	src: url('../fonts/montserrat.woff2') format('woff2'), url('../fonts/montserrat.woff') format('woff'), url('../fonts/montserrat.ttf') format('truetype')
	font-weight: 400
	font-style: normal

@font-face 
	font-family: 'Montserrat'
	src: url('../fonts/montserratbold.woff2') format('woff2'), url('../fonts/montserratbold.woff') format('woff'), url('../fonts/montserratbold.ttf') format('truetype')
	font-weight: 700
	font-style: normal

@font-face 
	font-family: 'Montserrat'
	src: url('../fonts/montserratblack.woff2') format('woff2'), url('../fonts/montserratblack.woff') format('woff'), url('../fonts/montserratblack.ttf') format('truetype')
	font-weight: 900
	font-style: normal
@font-face 
	font-family: 'Roboto'
	src: url('../fonts/Roboto.woff2') format('woff2'), url('../fonts/Roboto.woff') format('woff'), url('../fonts/Roboto.ttf') format('truetype')
	font-weight: 400
	font-style: normal

@font-face 
	font-family: 'Roboto'
	src: url('../fonts/Robotoitalic.woff2') format('woff2'), url('../fonts/Robotoitalic.woff') format('woff'), url('../fonts/Robotoitalic.ttf') format('truetype')
	font-weight: 400
	font-style: italic

@font-face 
	font-family: 'Roboto'
	src: url('../fonts/Robotomedium.woff2') format('woff2'), url('../fonts/Robotomedium.woff') format('woff'), url('../fonts/Robotomedium.ttf') format('truetype')
	font-weight: 500
	font-style: normal


@font-face 
	font-family: 'Roboto'
	src: url('../fonts/Robotobold.woff2') format('woff2'), url('../fonts/Robotobold.woff') format('woff'), url('../fonts/Robotobold.ttf') format('truetype')
	font-weight: 700
	font-style: normal


@font-face 
	font-family: 'Roboto'
	src: url('../fonts/Robotoblack.woff2') format('woff2'), url('../fonts/Robotoblack.woff') format('woff'), url('../fonts/Robotoblack.ttf') format('truetype')
	font-weight: 900
	font-style: normal



.clearfix::after
	content: ""
	display: table
	clear: both

header
	display: flex
	justify-content: space-between
	align-items: center
	.logo
		background: #151a1f
	nav
		ul
			li
				float: left
				a
					text-decoration: none
					text-transform: uppercase
					color: #151a1f
					font-family: 'Roboto'
					font-weight: 700
	.feedback
		display: flex
		align-items: center
		.numbers
			.phone_img
				float: left
			.phones_number
				float: left
				a
					display: block
					
				
				